---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
---

<Layout title="Henga Dirtybit">
        <header>
            <Nav />
        </header>
        <main>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    </main>
</Layout>

<style>
header {
    /* background-color: #1a1a1a; */
    color: white;
}

section {
    outline: 1px solid red;
    height: 60vh;
}

</style>
