---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Henga Dirtybit">
        <header>
            <Nav />
            <Hero />
        </header>
        <main>
            <AboutMe />
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        </main>
    </Layout>

    <style>
    header {
        /* background-color: #1a1a1a; */
        color: white;
    }

    section {
        outline: 1px solid red;
        height: 60vh;
    }

</style>
